<div class="container">
  <div class="container-inner">
    <div class="login-form">
			<h2>一直沒收到驗證信？沒關係</h2>

			<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="field">
			    <%= f.email_field :email, :placeholder => "輸入 Email", autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> 
			  </div>

			  <div class="actions">
			    <%= f.submit "重新寄給我！", :class => "btn btn-danger resend-pwd" %>
			  </div>
			<% end %>
		
		</div>    
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="resendModal" tabindex="-1" role="dialog" aria-labelledby="resendModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <div class="modal-body">
        <h2>已送出驗證信至您的電子信箱</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-register-comfirm" data-dismiss="modal">確認</button>        
      </div>
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
  $( ".resend-pwd" ).click(function() {
    $('#resendModal').modal();
  });
});
</script>