<div class="container">
  <div class="container-inner">
    <div class="main-left">
      <div class="login-form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.text_field :"phone_number", autofocus: true, :maxlength => 10, :placeholder => "請輸入手機號碼"%>
          </div>

          <div class="field">
            <%= f.email_field :"email", :placeholder => "輸入 Email"%>
          </div>

          <div class="field">         
            <%= f.password_field :password, autocomplete: "off", :placeholder => "輸入密碼（至少 8 個字）" %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "請再次輸入密碼" %>
          </div>

          <div class="actions">
            <%= f.submit "註冊", :class => "btn-register"%>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>    
    </div>

    <div class="main-right">
      <%= render 'family/methods_text' %>
    </div>
    
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <div class="modal-body">
        <h2>已送出驗證信，請點擊郵件中連結通過身份驗證</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-register-comfirm" data-dismiss="modal">確認</button>        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="emailErrorModal" tabindex="-1" role="dialog" aria-labelledby="mailErrorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <div class="modal-body">
        <h2>請檢查您的 Email 信箱是否輸入正確</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-register-comfirm" data-dismiss="modal">確認</button>        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="emailRepeatModal" tabindex="-1" role="dialog" aria-labelledby="mailErrorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <div class="modal-body">
        <h2>喔喔，這個 Email 信箱已經被註冊過了</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-register-comfirm" data-dismiss="modal">確認</button>        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="phoneErrorModal" tabindex="-1" role="dialog" aria-labelledby="phoneErrorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <div class="modal-body">
        <h2>請檢查您的手機號碼是否輸入正確</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-register-comfirm" data-dismiss="modal">確認</button>        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pwdLengthErrorModal" tabindex="-1" role="dialog" aria-labelledby="phoneErrorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <div class="modal-body">
        <h2>請檢查您輸入的密碼長度是否 8 位以上</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-register-comfirm" data-dismiss="modal">確認</button>        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pwdSameErrorModal" tabindex="-1" role="dialog" aria-labelledby="phoneErrorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <div class="modal-body">
        <h2>喔喔，密碼並不一致</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-register-comfirm" data-dismiss="modal">確認</button>        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eventHintModal" tabindex="-1" role="dialog" aria-labelledby="phoneErrorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <div class="modal-body">
        <h2>如經查證註冊帳號非活動參加者本人,主辦單位有權註銷錯誤帳號及其活動紀錄。</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-register-comfirm" data-dismiss="modal">確認</button>        
      </div>
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
  $('#eventHintModal').modal();     
  var registeredEmails = [];

  $.ajax({
    url: "http://" + window.location.host+"/event0708/emails",    
  }).done(function(response) {
      registeredEmails = jQuery.parseJSON(response);
  });


  $( ".btn-register" ).click(function(e) {
    e.preventDefault();
    // responseMsg = validateForm();
    if( IsEmail($('input[type=email]').val()) == false ) {
      $('#emailErrorModal').modal();  
    }
    else if ( $.inArray($('input[type=email]').val(), registeredEmails) > -1) {
      $('#emailRepeatModal').modal();  
    }
    else if ( IsPhonenumber($('input[id=user_phone_number]').val()) == false ) {
      $('#phoneErrorModal').modal();  
    }
    else if ( IsPasswordLong($('input[id=user_password]').val()) == false ) {
      $('#pwdLengthErrorModal').modal();  
    }
    else if ( $('input[id=user_password]').val() != $('input[id=user_password_confirmation]').val() ) {
      $('#pwdSameErrorModal').modal();  
    }
    else {      
      $('#registerModal').modal();  
      $("form").submit();  
    }
  });

});

function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  return regex.test(email);
}

function IsPhonenumber(phonenumber) {
  var regex = /^09\d{8}$/;
  return regex.test(phonenumber);
}

function IsPasswordLong(password) {
  var regex = /^\S{8,}$/;
  return regex.test(password);
}

</script>