<%- if controller_name != 'sessions' %>
  <%= link_to "返回登入", new_session_path(resource_name), :class => "link-forget-pwd"  %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' && controller_name != 'passwords' %>
  <%= link_to "註冊", new_registration_path(resource_name), :class => "btn-register" %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "忘記密碼?", new_password_path(resource_name), :class => "link-forget-pwd" %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %> 
  <%= link_to "補發驗證信", new_confirmation_path(resource_name), :class => "link-resend-confirm" %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
