<div class="container">
  <div class="container-inner">
    <div class="login-form">
      <h2>變更你的密碼</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">          
          <% if @minimum_password_length %>
          <em>（至少 <%= @minimum_password_length %> 個字元）</em>
          <% end %><br />
          <%= f.password_field :password, autofocus: true, autocomplete: "off", :placeholder => "輸入新密碼" %>
        </div>

        <div class="field">          
          <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "確認您的新密碼" %>
        </div>

        <div class="actions">
          <%= f.submit "變更我的密碼", :class => "btn btn-danger resend-pwd" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>