<div class="container">
  <div class="container-inner">
    <div class="login-form">
			<h2>忘記密碼了？ 沒關係</h2>
			<br>
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="field">
			  	<%= f.email_field :"email", :placeholder => "輸入 Email", autofocus: true%>			    
			  </div>

			  <div class="actions">
			    <%= f.submit "重新寄給我！", :class => "btn btn-danger resend-pwd" %>
			  </div>
			<% end %>

			<%= render "devise/shared/links" %>
    </div>    
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="resendModal" tabindex="-1" role="dialog" aria-labelledby="resendModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <div class="modal-body">
        <h2>已送出密碼函至您的電子信箱</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-register-comfirm" data-dismiss="modal">確認</button>        
      </div>
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
  $( ".resend-pwd" ).click(function() {
    $('#resendModal').modal();
  });
});
</script>