<h1>恭喜您獲得<%= @prize %>！</h1>

<p>
	請於得獎日<%= @from_date %>起兩周內，下載<a target="_blank" href="https://s3-ap-northeast-1.amazonaws.com/famiport-project/pdf/%E5%85%A8%E5%AE%B6%E7%98%8B%E9%BB%9E%E5%8D%A1-%E4%B8%AD%E7%8D%8E%E5%9B%9E%E5%87%BD-0707.pdf">得獎回函</a>，填寫並寄回「全家便利商店瘋點卡拼一夏小組」收。  
</p>

<br>

<div>
	<img height="120px" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/068/original/screenshot.png?1436208772">
</div>