<div class="container">
  <div class="container-inner">

    <div class="main-left">
      <div class="login-form">
        
        <%= content_tag(:div, "", :id => "flash_alert") if flash[:alert] %>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">        
            <%= f.text_field :"phone_number", autofocus: true, :placeholder => "請輸入手機號碼"%>
          </div>

          <div class="field">        
            <%= f.password_field :password, autocomplete: "off", :placeholder => "輸入密碼" %>
          </div>        

          <div class="actions">
            <%= f.submit "登入", :class => "btn-login" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>    
    </div>

    <div class="main-right">
      <%= render 'family/methods_text' %>
    </div>

  </div>
</div>

<div class="modal fade" id="phoneErrorModal" tabindex="-1" role="dialog" aria-labelledby="phoneErrorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <div class="modal-body">
        <h2>請檢查您的手機號碼是否輸入正確</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-register-comfirm" data-dismiss="modal">確認</button>        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="notRegisteredModal" tabindex="-1" role="dialog" aria-labelledby="phoneErrorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <div class="modal-body">
        <h2>這個手機號碼還沒有註冊過</h2><h2>請先註冊成為會員</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-register-comfirm" data-dismiss="modal">確認</button>        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pwdLengthErrorModal" tabindex="-1" role="dialog" aria-labelledby="phoneErrorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <div class="modal-body">
        <h2>請檢查您輸入的密碼長度是否 8 位以上</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-register-comfirm" data-dismiss="modal">確認</button>        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pwdFailModal" tabindex="-1" role="dialog" aria-labelledby="phoneErrorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <div class="modal-body">
        <h2>您輸入了錯誤的密碼</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-register-comfirm" data-dismiss="modal">確認</button>        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="notComfirmedModal" tabindex="-1" role="dialog" aria-labelledby="phoneErrorModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <div class="modal-body">
        <h2>尚未啟用信箱，請至信箱點選認證連結</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-register-comfirm" data-dismiss="modal">確認</button>        
      </div>
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
  var registeredPhones = [];

  $.ajax({
    url: "http://" + window.location.host+"/event0708/phones",    
  }).done(function(response) {
      registeredPhones = jQuery.parseJSON(response);
  });

  $( ".btn-login" ).click(function(e) {
    e.preventDefault();    

    if ( IsPhonenumber($('input[id=user_phone_number]').val()) == false ) {
      $('#phoneErrorModal').modal();  
    }
    else if ( $.inArray($('input[id=user_phone_number]').val(), registeredPhones) == -1) {
      $('#notRegisteredModal').modal();  
    }
    else if ( IsComfirmed($('input[id=user_phone_number]').val()) == "false" ) {
      $('#notComfirmedModal').modal();  
    }
    else if ( IsPasswordLong($('input[id=user_password]').val()) == false ) {
      $('#pwdLengthErrorModal').modal();  
    }       
    else {         
      $("form").submit();  
    }
  });

  // password error
  if ( $('#flash_alert').length > 0 ){
    $('#pwdFailModal').modal();  
  }

});

function IsComfirmed(number) {
  var response;
  $.ajax({
    method: "POST",
    url: "http://" + window.location.host+"/event0708/iscomfirmed", 
    data: { phonenumber: number },
    success: function (data) {
      response = data;
    },
    async: false
  });
  return response;
}

function IsPhonenumber(phonenumber) {
  var regex = /^09\d{8}$/;
  return regex.test(phonenumber);
}

function IsPasswordLong(password) {
  var regex = /^\S{8,}$/;
  return regex.test(password);
}

</script>