<h1>加碼好康活動！</h1>
<p class="sponsor_title">樂點</p>
<p class="sponsor_event">活動期間至全家購買GASH遊戲專用卡，即可獲得遊戲虛寶或返點回饋。數量有限，送完為止。<a href="http://tw.gashpoint.com/News/NewsList/1/0" target="_blank">詳情請見活動網頁</a>。</p>
<hr>
<p class="sponsor_title">智冠</p>
<p class="sponsor_event">活動期間至全家購買並儲值MyCard指定面額至指定遊戲，即可獲得遊戲好禮回饋。數量有限，送完為止。<a href="http://active.mycard520.com.tw/web/fe_15164/index.html" target="_blank">詳情請見活動網頁</a>。</p>
<hr>
<p class="sponsor_title">光磊(多樂米）</p>
<p class="sponsor_event">活動期間至全家購買並儲值多樂米點數卡，通通加碼10%!!指定面額600元額外贈送獨家虛寶!</p>
<p class="sponsor_event">[600元點數卡]贈送6,000多幣及獨家虛寶[魔女戲法(女)/(男)價值1,500多幣/可賣回商店]<br>
<a href="http://www.mjweb.com.tw/event/2015/0708_family.htm" target="_blank">詳情請見活動網頁</a>。</p>
<hr>
<p class="sponsor_title">光磊(土撥鼠娛樂城)</p>
<p class="sponsor_event">活動期間至全家購買並儲值土撥鼠娛樂城GOGO卡，即可額外獲得購買面額30％～35％優惠！<br>
  Ex:購買500元為50000土幣，可再額外獲得15,000土幣。<br>
  限定300元面額還有機會額外抽到最高100萬土幣!<br>
<a href="http://www.tbs520.com.tw/tbs2_event/2015/0708_family.htm" target="_blank">詳情請見活動網頁</a>。</p>
<hr>
<p class="sponsor_title">茂為</p>
<p class="sponsor_event">活動期間至全家購買並儲值OMG遊戲點數卡或OMG行動遊戲卡『面額150元(含)以上』，即可隨機額外獲得OMG紅利點數5、10、20、50、100、200、500、1000點！<a href="http://www.omg.com.tw/" target="_blank">詳情請見活動網頁</a>。</p>
<hr>
<p class="sponsor_title">鈊象電子</p>
<p class="sponsor_event">活動期間至全家購買並儲值gametower2000點卡，即加贈戳戳樂券1張(限官方儲值中心、部分遊戲不適用)。<a href="http://www.gametower.com.tw/News/viewdoc.aspx?an=106392&ntn=0" target="_blank">詳情請見活動網頁</a>。</p>
<hr>
<p class="sponsor_title">統振</p>
<p class="sponsor_event">活動期間至全家購買並儲值iMoney至指定遊戲，即可獲得好禮回饋。<a href="http://www.i-money.tw/index.html" target="_blank">詳情請見活動網頁</a>。</p>
<hr>
<p class="sponsor_title">紅心辣椒</p>
<p class="sponsor_event">活動期間至全家購買辣椒卡500、1000、1800、3000點數，儲值該指定遊戲內，即可享有該遊戲的遊戲虛寶。詳情請見活動網頁：<br>
  <a href="http://event.wasabii.com.tw/BB/150708_fy/index.html" target="_blank">全民打棒球</a><br>
<a href="http://event.wasabii.com.tw/fs2/150708_event/fs2_index.html" target="_blank">FS2</a></p>
<hr>
<p class="sponsor_title">華義國際</p>
<p class="sponsor_event">活動期間至全家購買WGS300、500、1000元並完成儲值於指定遊戲內，即可兌換虛寶。<a href="http://www.wayi.com.tw/active/WGS_150610f/index.htm" target="_blank">詳情請見活動網頁</a>：<br>
</p>
<hr>
<p class="sponsor_title">京群</p>
<p class="sponsor_event">活動期間至全家購買並儲值黃金卡500點以上面額，即加贈5%點數。<a href="http://golden.goldengame.com.tw/index.php" target="_blank">詳情請見活動網頁</a>。</p>
<hr>
<p class="sponsor_title">富爾特</p>
<p class="sponsor_event">活動期間至全家購買神州全系列199元以上之虛擬商品，即送遊戲內神州禮包序號一組、買二套送二組、以此類推！【數量有限，送完為止！】<a href="https://www.ewsoft.com.tw/" target="_blank">詳情請見活動網頁</a>。</p>
<hr>
<p class="sponsor_title">台灣大哥大 </p>
<p class="sponsor_event">活動期間至全家購買並儲值計量型2.2GB上網儲值卡，再加贈1GB！(將以簡訊方式寄送儲值密碼給符合資格之用戶。)</p>
<p class="sponsor_event">活動期間至全家購買並儲值計量型8GB上網儲值卡，加贈網內通話費500元(效期30天)。(將以簡訊方式寄送儲值密碼給符合資格之用戶。)<a href="https://www.taiwanmobile.com/mobile/prePay/addValue/convenienceStore/index_2.html#.VadoKaSqpBc" target="_blank">詳情請見活動網頁</a>！</p>
<hr>
<p class="sponsor_title">遠傳</p>
<p class="sponsor_event">活動期間至全家購買並儲值易付卡500元，回饋網內語音$150。</p>
<p class="sponsor_event">活動期間至全家購買並儲值易付卡1000元，回饋網內語音$500。</p>
<p class="sponsor_event">活動期間至全家購買並儲值遠傳超4代上網2.2GB，回饋1GB傳輸量。<a href="http://promotion.fetnet.net/pmt/if/201507_2/" target="_blank">詳情請見活動網頁</a>！</p>
<hr>
<p class="sponsor_title">台灣之星</p>
<p class="sponsor_event">活動期間內至全家購買並儲值台灣之星補充卡500元、立即儲500元、無限上網30日、666無限雙享包(任一)，即加贈$222網內語音通話金。<a href="http://www.tstartel.com/CWS/prepaid/spmk.htm" target="_blank">詳情請見活動網頁</a>！</p>
<hr>
<p class="sponsor_title">中礦</p>
<p class="sponsor_event">活動期間內至全家購買並儲值亞太全系列儲值卡商品，即有機會獲得Apple iPad mini 3(16G WiFi版)，儲越多中獎機會越多！<a href="http://www.aptg.com.tw/" target="_blank">詳情請見活動網頁</a>！</p>
<hr>
<p class="sponsor_title">瑪凱</p>
<p class="sponsor_event">活動期間至全家購買CALL IN ONE 1000，即加贈100元通話費。<a href="http://www.mky.com/" target="_blank">詳情請見活動網頁</a>！</p>
<hr>
