<p class="sponsor_title">三通網</p>
<p class="sponsor_event">活動期間至全家購買並儲值OneCall卡250元，即加贈30元通話金。</p>
<p class="sponsor_event">活動期間至全家購買並儲值OneCall卡1000+330元，即加贈120元通話金。</p>
<p class="sponsor_event">活動期間至全家購買並儲值全能卡300+50元，即加贈50元通話金。</p>
<p class="sponsor_event">活動期間至全家購買並儲值華人卡300元，即加贈50元通話金。<a href="http://www.gofirst.com.tw/index.php?r=news-detail&news_seq=657" target="_blank">詳情請見活動網頁</a>！</p>
<hr>
<p class="sponsor_title">南頻</p>
<p class="sponsor_event">活動期間至全家購買並儲值e卡300元，即可多獲得30元通話金。</p>
<p class="sponsor_event">活動期間至全家購買並儲值多多卡300元，即可多獲得200元通話金。<a href="http://www.np.net.tw/FamilyAD.htm" target="_blank">詳情請見活動網頁</a>！</p>
<hr>
<p class="sponsor_title">亞東</p>
<p class="sponsor_event">活動期間至全家購買並儲值亞東一線通500元以上面額，即加贈10%優惠金。<a href="http://www.asiatel.com.tw/009.html" target="_blank">詳情請見活動網頁</a>！</p>
<hr>
<p class="sponsor_title">連科</p>
<p class="sponsor_event">104/07/22~104/09/01至全家購買並儲值Skype1000元儲值點數送50元Skype折價券，2000元儲值點數送100元折價券。<a href="http://skype.pchome.com.tw/skypetwweb/news/news.action?method=dispListpage&news.newsType=2" target="_blank">詳情請見活動網頁</a>！</p>
<hr>
<p class="sponsor_title">願境</p>
<p class="sponsor_event">104/07/15~104/09/01 KKBOX首次付費會員至全家購買KKBOX30天、180天、365天儲值序號(不含立即儲)，上網開通後立即加贈10天儲值天數。(首次付費會員包含(1)首次註冊，以及(2)曾經註冊但未曾付費者，於活動時間內付費並儲值成功。)<a href="http://kkbox.fm/a28VWP" target="_blank">詳情請見活動網頁</a>！</p>
<hr>
<p class="sponsor_title">全音樂</p>
<p class="sponsor_event">活動期間至全家購買並開通Omusic月租無限聽90天商品，除原商品內含加贈7天之外，獨家加碼再送7天無限免費聽！加碼贈送天數於開通時，隨主商品一起贈送，使用天數會自動延長。</p>
<p class="sponsor_event">活動期間至全家購買並開通Omusic月租無限聽180天商品，除原商品內含加贈15天之外，獨家加碼再送15天無限免費聽！整整多30天好歌不斷線！加碼贈送天數於開通時，隨主商品一起贈送，使用天數會自動延長。<a href="http://secure.omusic.com.tw/149/pay/event/familymart1506.php" target="_blank">詳情請見活動網頁</a>！</p>
<hr>
<p class="sponsor_title">俊端</p>
<p class="sponsor_event">活動期間至全家購買並儲值GData下載版任一商品，即有機會獲得USB LED隨身燈！數量有限，送完為止！<a href="http://www.gdata.tw/" target="_blank">詳情請見活動網頁</a>！</p>
<hr>
<p class="sponsor_title">城邦</p>
<p class="sponsor_event">活動期間至全家購買POPO立即儲點數1200元，將可獲得加值點數10,000 PO。詳情請見POPO官網。<a href="http://www.popo.tw/events/321" target="_blank">詳情請見活動網頁</a>！</p>
<hr>
<p class="sponsor_title">春水堂</p>
<p class="sponsor_event">活動期間至全家購買KLand動畫180天超值方案，限時加贈30天！日本同步、強檔動畫，超過6000支影片讓你看個過癮！<a href="http://www.kland.com.tw" target="_blank">詳情請見活動網頁</a>！</p>
<hr>
<p class="sponsor_title">聚財</p>
<p class="sponsor_event">活動期間至全家購買並上聚財網開啟聚財點數1000元，即贈送犀利股神VIP二週(價值500元)。贈品將與點數同時開啟，點數開啟後恕不退換。</p>
<p class="sponsor_event">活動期間至全家購買並上聚財網開啟聚財點數2000元，即贈送犀利股神VIP四週(價值1000元)。贈品將與點數同時開啟，點數開啟後恕不退換。<a href="http://www.wearn.com/store/fm.asp" target="_blank">詳情請見活動網頁</a>！</p>
<hr>
<p class="sponsor_title">遠傳影城</p>
<p class="sponsor_event">活動期間至全家購買並儲值遠傳影城月租199，再加贈15天，享好萊塢、日、韓、國片千部電影看到飽！<a href="http://vod.fetnet.net/act/familyport" target="_blank">詳情請見活動網頁</a>！</p>