<%= form_for @lottery, :url => event0708_lucky_path do |f| %>
	<div class="float-draw-frame">
		<div class="full-width">
			<%= f.text_field :serial_number, :placeholder => "輸入發票 ex: XD12345678", :maxlength => "10", :class => "main-lottery-input" %>
		</div> 

		<div class="full-width">
			<%= f.submit '', :class => 'btn-draw-puzzle' %>
		</div>
	</div>
<% end %>


