<div class="header_nav_wrap">
	<div class="header_nav_container">
			<div class="navs col-xs-12">
				<img src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/002/original/btn1.png?1435808805">	
				<img src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/003/original/btn2_un.png?1435808820" class="mgl7">
				<img src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/004/original/btn3_un.png?1435808830" class="mgl15">
			</div>
	</div>
<div>