<h1>活動期間：2015/7/8-2015/9/1</h1>
<h1>活動辦法：</h1>
<p>單筆購買即時購遊戲、電信、電子錢500元以上(含國際點數卡商品)，即可上網登錄發票號碼參加拼圖活動，於活動期間，每登錄一發票號碼即可隨機獲得3片拼圖，蒐集拼成贈品圖即可獲得該獎。</p>
<p class="highlight-red">※注意：<br>
  1. 
單筆發票不限金額僅可登錄一次(例：單筆發票金額1000元，僅可獲得一次抽拼圖資格)。<br>
  2. 不同帳號間之累積拼圖不得合併。<br>
3. 使用禮券結帳而無發票者，請登入FM+交易序號8碼取代發票號碼(例：交易明細上之交易序號為87654321，發票登錄處輸入FM87654321)。</p>

<h1>獎品介紹：</h1>

<!-- item 1 & 2 -->
	<img width="100%" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/058/original/item-01.png?1436200944">
	<br>
	<img width="100%" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/061/original/item-04.png?1436200972">
	<br>
<!-- item 3 & 4 -->
	<img width="100%" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/060/original/item-03.png?1436200964">
	<br>
	<img width="100%" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/059/original/item-02.png?1436200953">
	<br>

<h1>領獎辦法：</h1>
<p>中獎者需於收到中獎通知後兩週內，上活動網頁或登入Email<a href="https://s3-ap-northeast-1.amazonaws.com/famiport-project/pdf/%E5%85%A8%E5%AE%B6%E7%98%8B%E9%BB%9E%E5%8D%A1-%E4%B8%AD%E7%8D%8E%E5%9B%9E%E5%87%BD-0707.pdf" target="_blank">下載中獎回函</a>，填寫並連同登錄發票及顧客聯正本寄回「全家便利商店瘋點卡拼一夏小組」收。</p>
<p class="highlight-red">※注意：<br>
  1. 錯過規定時間則失去獲獎資格，獎品將重新開放。<br>
2. 如因資料填寫不完整以致無法聯絡者，視同放棄中獎資格，不另行通知。</p>

<h1>合作廠商：</h1>
<div class="full-width">
	<img class="full-width" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/019/original/logop.png?1435863754">
</div>

<h1>注意事項：</h1>
<div class="be-aware-text">
<ol>
	<li>抽獎發票必須為全家便利商店(以下稱本公司)於活動期間內(104/07/08~104/09/01)開立，且須內含遊戲、電信、電子錢、國際點數卡商品滿500元，才符合登錄抽獎資格。(發票最後登錄時間為104/09/01(二) 23:59)</li>
	<li>請於<a href="#">收到中獎通知Email後兩週內</a>(郵戳為憑)以掛號方式將顧客聯、登錄發票(如使用禮券結帳而無發票者，請提供交易明細)及中獎回函寄回本公司 (104台北市中山北路二段61號7F)<a href="#">全家瘋點卡10萬好禮拼一夏活動小組收</a>。正本作為認證用，恕不歸還，請中獎者自行影印留存一份。</li>
	<li>若發票或交易明細上之商品未符活動規定、逾期寄回中獎回函、發票/交易明細正本遺失或中獎者拒絕提供相關資料，視同自動放棄中獎資格，主辦單位將不另行通知亦不進行遞補。(舉例，消費者結帳發票GD12345678及交易明細序號87654321，並以發票號碼GD12345678登錄抽獎活動，且收到中獎通知，消費者須寄回GD12345678之發票正本，以做為正式領獎之憑證。)</li>
	<li>如帳號遭非本人註冊，本人得向本公司客服檢舉，並附上相關身分證明，主辦與活動單位將有權註銷錯誤帳號及其活動紀錄，並對任何破壞本活動行為保留法律追訴權。</li>
	<li>中獎者需提交之個人資訊，包括姓名、手機號碼、電子信箱予本公司，並需同意本公司蒐集、處理或利用該個人資料作為本活動使用，並得將個人資料提供予本公司複委任個資處理或利用業務之廠商處理或利用，或提供予本公司複委託辦理行銷之廠商處理或利用。</li>
	<li>依個資法第三條規定，中獎者得就本公司持有個人資料得行使下列權利，請與本公司客服信箱聯繫：<br>
※得向本公司查詢、請求閱覽或請求製給複製本。<br>
※得向本公司請求補充或更正，惟依法應為適當之釋明。 <br>
※得向本公司請求停止蒐集、處理或利用及請求刪除，惟依法本公司因執行業務所必須者，得不依中獎者得請求為之。</li>
	<li>中獎者得自由選擇是否提供相關個人資料，惟若拒絕提供相關個人資料，本公司將無法進行必要之審核及處理作業，中獎者將無法參與本活動。</li>
	<li>本公司已履行上開個資法告知義務，活動參加者同意並清楚瞭解本公司蒐集、處理或利用個人資料之目的及用途。</li>
	<li>本公司收到中獎資料後將進行資格驗證，確認無誤後，再回覆中獎人領獎。獎項寄送地址以回函所提供之個人資料為準，如活動參加人因資格不符、逾期、或因資料不齊全或不正確者，以致無法寄送獎項，視為自動放棄，本公司恕不另行通知。</li>
	<li>獎項詳細內容與規格以實物為準，本公司保留修改活動及獎品等細節之權利。中獎獎品，不得折換現金，中獎資格不可轉讓予第三人。如遇產品缺貨或不可抗力之事由導致獎品內容變更，主辦單位有權變更贈品，改由等值商品取代之，得獎者不得要求折現或轉換其他商品。主辦與活動單位不負贈品之任何維護或保固責任。</li>
	<li>點卡中獎者須自行填妥中獎點卡，中獎點卡以一款為限，且須為本公司所販售之點卡，指定點卡如遇暫時或長期無法正常供貨之事項，將另行通知中獎者確認變更中獎點卡。</li>
	<li>中獎者若未滿18歲，須獲得法定監護人同意及代為領取。依所得法規規定，凡中獎價值超過新台幣$1,000元者，獎項將須列入個人年度綜合所得稅申報(稅額以獎品市價計算)。中獎價值超過新台幣$20,000元者，須繳納10%稅金(稅額以獎品市價計算) ，本公司依法代收中獎稅金，若中獎人未能如期依法繳納應繳稅額，即視為放棄得獎資格。</li>
	<li>如有任何因電腦、網路、電話、技術或不可歸責於主辦與活動單位之事由，而使系統誤送活動訊息或中獎通知，或使參加人所寄出或登錄之資料有遲延、遺失、錯誤、無法辨識或毀損之情況，主辦與活動單位不負任何法律責任，參加者亦不得因此異議。</li>
	<li>若中獎人不符合、不同意或違反本活動規定者，主辦單位保有取消中獎資格及參與本活動的權利，並對任何破壞本活動行為保留法律追訴權。</li>
	<li>全家員工不得參加本活動。</li>
	<li>本活動如有未盡事宜，本公司擁有保留、修改、暫停及解釋活動內容之權利，修改訊息將於本網站上公佈，不另行通知。</li>
</ol>
</div>