<!-- START of a puzzle row  累積  -->
<div class="puzzle-box-row">

	<% @user_get_pieces =  @user_pieces %>
	<div class="puzzle-box">
		<% puzzle_id = 1 %>
			<% @user_get_pieces.where(:puzzle_id => puzzle_id).each do |p| %>
				<% piece_count = @user_get_pieces.where(:puzzle_id => puzzle_id).where(:position_number => p.position_number).size %>
				<% image_url = Puzzleimage.where(:puzzle_id => puzzle_id).where(:position_number => p.position_number).first.image(:thumb) %>
				<div class="puzz<%= p.position_number %>"><span class="piece-count"><%= piece_count %></span><img class="piece" src="<%= image_url %>"></div>
			<% end %>			
			<img class="puzzle-bg" src="<%= @prize_bg_images[puzzle_id-1] %>">
	</div>


	<div class="puzzle-box">
		<% puzzle_id = 2 %>
			<% @user_get_pieces.where(:puzzle_id => puzzle_id).each do |p| %>
				<% piece_count = @user_get_pieces.where(:puzzle_id => puzzle_id).where(:position_number => p.position_number).size %>
				<% image_url = Puzzleimage.where(:puzzle_id => puzzle_id).where(:position_number => p.position_number).first.image(:thumb) %>
				<div class="puzz<%= p.position_number %>"><span class="piece-count"><%= piece_count %></span><img class="piece" src="<%= image_url %>"></div>
			<% end %>			
			<img class="puzzle-bg" src="<%= @prize_bg_images[puzzle_id-1] %>">
	</div>


	<div class="puzzle-box">				
		<% puzzle_id = 3 %>
			<% @user_get_pieces.where(:puzzle_id => puzzle_id).each do |p| %>
				<% piece_count = @user_get_pieces.where(:puzzle_id => puzzle_id).where(:position_number => p.position_number).size %>
				<% image_url = Puzzleimage.where(:puzzle_id => puzzle_id).where(:position_number => p.position_number).first.image(:thumb) %>
				<div class="puzz<%= p.position_number %>"><span class="piece-count"><%= piece_count %></span><img class="piece" src="<%= image_url %>"></div>
			<% end %>			
			<img class="puzzle-bg" src="<%= @prize_bg_images[puzzle_id-1] %>">
	</div>

	<div class="puzzle-box">
		<% puzzle_id = 4 %>
			<% @user_get_pieces.where(:puzzle_id => puzzle_id).each do |p| %>
				<% piece_count = @user_get_pieces.where(:puzzle_id => puzzle_id).where(:position_number => p.position_number).size %>
				<% image_url = Puzzleimage.where(:puzzle_id => puzzle_id).where(:position_number => p.position_number).first.image(:thumb) %>
				<div class="puzz<%= p.position_number %>"><span class="piece-count"><%= piece_count %></span><img class="piece" src="<%= image_url %>"></div>
			<% end %>			
			<img class="puzzle-bg" src="<%= @prize_bg_images[puzzle_id-1] %>">
	</div>
</div>

<!-- END of a puzzle row -->