<div class="puzzle-history-container">

	<% @user_lotteries.each do |lottery| %>
		<% @user_get_pieces =  @user_pieces.where(:lottery_id => lottery.id) %>

		<div class="puzzle-history-title"><%= lottery.serial_number %></div>

		<!-- START of a puzzle row   -->
		<div class="puzzle-box-row">

			<div class="puzzle-box">
				<% puzzle_id = 1 %>

				<% @user_get_pieces.where(:puzzle_id => puzzle_id).each do |p| %>
					<% image_url = Puzzleimage.where(:puzzle_id => puzzle_id).where(:position_number => p.position_number).first.image(:thumb) %>
					<div class="puzz<%= p.position_number %>"><span class="piece-count"></span><img class="piece" src="<%= image_url %>"></div>
				<% end %>			
				<img class="puzzle-bg" src="<%= @prize_bg_images[puzzle_id-1] %>">
			</div>


			<div class="puzzle-box">
				<% puzzle_id = 2 %>
				<% @user_get_pieces.where(:puzzle_id => puzzle_id).each do |p| %>
					<% image_url = Puzzleimage.where(:puzzle_id => puzzle_id).where(:position_number => p.position_number).first.image(:thumb) %>
					<div class="puzz<%= p.position_number %>"><span class="piece-count"></span><img class="piece" src="<%= image_url %>"></div>
				<% end %>			
				<img class="puzzle-bg" src="<%= @prize_bg_images[puzzle_id-1] %>">
			</div>


			<div class="puzzle-box">				
				<% puzzle_id = 3 %>
				<% @user_get_pieces.where(:puzzle_id => puzzle_id).each do |p| %>
					<% image_url = Puzzleimage.where(:puzzle_id => puzzle_id).where(:position_number => p.position_number).first.image(:thumb) %>
					<div class="puzz<%= p.position_number %>"><span class="piece-count"></span><img class="piece" src="<%= image_url %>"></div>
				<% end %>			
				<img class="puzzle-bg" src="<%= @prize_bg_images[puzzle_id-1] %>">
			</div>

			<div class="puzzle-box">
				<% puzzle_id = 4 %>
				<% @user_get_pieces.where(:puzzle_id => puzzle_id).each do |p| %>
					<% image_url = Puzzleimage.where(:puzzle_id => puzzle_id).where(:position_number => p.position_number).first.image(:thumb) %>
					<div class="puzz<%= p.position_number %>"><span class="piece-count"></span><img class="piece" src="<%= image_url %>"></div>
				<% end %>
				<img class="puzzle-bg" src="<%= @prize_bg_images[puzzle_id-1] %>">
			</div>
		</div>	
		<!-- END of a puzzle row -->
	<% end %>
	
</div>