<div class="container-inner">	
	
	<div class="main-left">
		<div class="decorators">
			<img class="tag" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/033/original/tag-sponsor.png?1436081301">
			<img class="fb-btn" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/010/original/fbBtn.png?1435853238">
		</div>
		<div class="main-banner">
			<img class="full-width" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/019/original/logop.png?1435863754">
		</div>		

	</div>

	<div class="main-right">
		<%= render 'extra_sponsor_text' %>
	</div>

	<div class="sub-left">
		<%= render 'extra_sponsor_text_left' %>
	</div>	

</div>