<div class="container-inner">	
	<div class="corner">
		
		<div class="decorators">
			<img class="tag" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/034/original/tag.png?1436081969">
			<img class="fb-btn" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/010/original/fbBtn.png?1435853238">
		</div>

		<a href="<%= new_user_session_path %>"><div class="main-banner">
			<img src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/008/original/916x176PC.png?1435853130">
		</div></a>
		
		<a href="<%= new_user_session_path %>">
			<div class="index-login-start">立即輸入發票得好禮 <i class="fa fa-arrow-down"></i></div>
		</a>

	</div>
</div>