<div class="container">
  <div class="container-inner">

  	<div class="lucky-container">

  		<center>
              
	  		<div>
          <p>於 <%= @lottery.created_at.in_time_zone('Taipei').strftime("%Y-%m-%d %H:%M:%S") %></p>
          <h1>您已經輸入過這張發票了喔</h1>
        </div>

	  		<div class="action-row">
  				<%= link_to "確認", event0708_records_path, :class => "btn-fami btn-fami-confirm" %>  			
  			</div>

	  	</center>

  	</div>


	</div>
</div>