<div class="container">
  <div class="container-inner">

  	<div class="lucky-container">

  		<center>
	  		<div class="congrats-title">恭喜獲得 <%= @win_prize.name %>！</div>

	  		<div class="lottery-number"><%= @lottery.serial_number %></div>	  		

	  		<%= render 'get_luck_thistime' %>

	  		<div class="action-row">
  				<%= link_to "確認", event0708_records_path, :class => "btn-fami btn-fami-confirm" %>
  				<%= link_to "立即分享戰績", event0708_records_path, :class => "btn-fami btn-fami-share" %>
  			</div>

        <div class="action-row">
          <%= link_to "下載中獎回函（PDF）", "https://s3-ap-northeast-1.amazonaws.com/famiport-project/pdf/%E5%85%A8%E5%AE%B6%E7%98%8B%E9%BB%9E%E5%8D%A1-%E4%B8%AD%E7%8D%8E%E5%9B%9E%E5%87%BD-0707.pdf", target: "_blank", :class => "btn-fami btn-fami-confirm" %>
          <%= link_to "寄發 Email 通知", event0708_notify_path, :class => "btn-fami btn-fami-notify" %>
        </div>

        <div class="remind-text">
          <p>請於 <span style="font-size: 20px"><%= @from_date %>起兩週內</span>下載並填寫「得獎回函」，寄回「全家便利商店瘋點卡拼一夏小組」領獎<br>得獎回函將寄至註冊之 Email 信箱或至 http://www.fmp.com.tw 登入下載</p>
        </div>
	  	</center>

  	</div>


	</div>
</div>