<div class="container-inner">	
	
	<div class="main-left">
		<div class="decorators">
			<img class="tag" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/009/original/tag_%281%29.png?1435853208">
			<img class="fb-btn" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/010/original/fbBtn.png?1435853238">
		</div>
		<div class="main-banner">
			<img src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/015/original/coverPC.png?1435861597">
		</div>

		<%= render 'float_draw_frame' %>

	</div>

	<div class="main-right">
		<h1>活動期間：2015/7/8-2015/9/1</h1>
		<h1>活動辦法：</h1>
		<p>單筆購買即時購遊戲、電信、電子錢500元以上(含國際點數卡商品)，即可上網登錄發票號碼參加拼圖活動，於活動期間，每登錄一發票號碼即可隨機獲得3片拼圖，蒐集拼成贈品圖即可獲得該獎。</p>
		<p class="highlight-red">※單筆發票不限金額僅可登錄一次</p>
		<h1>獎品介紹：</h1>

		<h1>合作廠商：</h1>
		<div class="full-width">
			<img class="full-width" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/019/original/logop.png?1435863754">
		</div>

	</div>

</div>