<div class="container">
  <div class="container-inner">

  	<div class="lucky-container">

  		<center>
              
	  		<div>          
          <h1>得獎的通知 Email 已經寄出囉！</h1>
        </div>

	  		<div class="action-row">
  				<%= link_to "確認", event0708_records_path, :class => "btn-fami btn-fami-confirm" %>  			
  			</div>

	  	</center>

  	</div>


	</div>
</div>