<div class="container">
  <div class="container-inner">

  	<div class="lucky-container">

  		<center>
              
	  		<div>          
          <h1>您輸入的發票 <%= @serial_number %> 有誤喔！</h1>
          <p> 請檢查是否頭 2 位為英文字母，後 8 位為數字，以及該發票是否為活動期間內之全家發票號碼</p>
        </div>

	  		<div class="action-row">
  				<%= link_to "確認", event0708_records_path, :class => "btn-fami btn-fami-confirm" %>  			
  			</div>

	  	</center>

  	</div>


	</div>
</div>