<div class="container-inner">	
	
	<div class="main-left">
		<div class="decorators">
			<img class="tag" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/034/original/tag.png?1436081969">
			<img class="fb-btn" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/010/original/fbBtn.png?1435853238">
		</div>

		<div class="main-banner">
			<img src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/015/original/coverPC.png?1435861597">
		</div>

		<%= render 'float_draw_frame' %>

		<div class="full-width">
			<img class="subtitle-seperator" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/020/original/now.png?1435887169">
		</div>

		<%= render 'puzzle_accumulated' %>		

		<%= render 'puzzle_history' %>

	</div>

	<div class="main-right">
		<%= render 'methods_text' %>
	</div>

</div>



<!-- Modal -->
<div class="modal fade" id="winnerModal" tabindex="-1" role="dialog" aria-labelledby="resendModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <div class="modal-body">
        <h2>您已經獲得了"<%= @awards %>"大獎！</h2>
        <p>還等什麼！趕快下載並填寫<a target="_blank" href="https://s3-ap-northeast-1.amazonaws.com/famiport-project/pdf/%E5%85%A8%E5%AE%B6%E7%98%8B%E9%BB%9E%E5%8D%A1-%E4%B8%AD%E7%8D%8E%E5%9B%9E%E5%87%BD-0707.pdf">「得獎回函」</a>，寄回「全家便利商店瘋點卡拼一夏小組」以領獎</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-register-comfirm" data-dismiss="modal">確認</button>        
      </div>
    </div>
  </div>
</div>

<% if @awards %>
	<script>
	$( document ).ready(function() {  
	  $('#winnerModal').modal();  
	});
	</script>
<% end %>