<div class="container">
  <div class="container-inner">

  	<div class="lucky-container">

  		<center>
              
	  		<div><img src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/027/original/c_text.png?1435907111"></div>

	  		<div class="lottery-number"><%= @lottery.serial_number %></div>

	  		<%= render 'get_luck_thistime' %>

	  		<div class="action-row">
  				<%= link_to "確認", event0708_records_path, :class => "btn-fami btn-fami-confirm" %>
  				<%= link_to "立即分享戰績", event0708_records_path, :class => "btn-fami btn-fami-share" %>
  			</div>

	  	</center>

  	</div>


	</div>
</div>