@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.mgl15 {
	margin-left: 15px;
}
.mgl7 {
	margin-left: -7px;
}
.mgt30 {
	margin-top: 30px;
}

.full-width {
	width: 100%;	
}
.highlight-red {
	color: red;
}

.fb-btn:hover{
	cursor: pointer;
	opacity: 0.9;
}
.btn-fami-share:hover {
	cursor: pointer;	
}

/* START of go to top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.8;    
    display: block;    
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    opacity: 1;
    cursor: pointer;
}

/* END of go to top */

@media screen and (min-width: 641px) {
	body {
		background-color: #efefef;
		min-height: 100%;
		position: relative;
	}
	.header-outer {
		background: #fff;
		width: 100%;
		border-bottom: 2px solid #17A712;
	}
	.header {
		width: 1000px;
		margin: 0 auto;
		height: 71px;

		.logo {
			margin-top: 12px;
			float: left;
		}
		.navs {
			float: right;
			font-size: 28px;
			li {
				list-style: none;
			  display: block;
			  float: left;
			  padding: 22px;			  
			  border-width: 0px 0px 0px 1px;
			  border-style: solid;
			  border-color: #D6D5DC;
			  height: 71px;
			  cursor: pointer;  						  			  
			  font-size: 18px;
			  color: #17A712;		

			 .text {
				 	margin-left: 5px;
				}			 

			  &:hover {
			  	border-bottom: 5px solid #17A712;
			  }
			}
			.active {
			  border-bottom: 5px solid #17A712;			
			}
		}
	}

	.container {
		width: 100%;
		background-color: #efefef;		
		margin-bottom: 60px;
		.container-inner {
			width: 1000px;
			margin: 50px auto 100px auto;

			.corner {
				border-radius: 15px;
			  border: 2px solid #17A712;
			  padding: 20px 0 0 0;
			  width: 947px;
			  height: 340px;
			  background: #fff;
			  .decorators {
			  	margin-bottom: 15px;
			  	.tag {
			  		margin-left: -10px;
			  	}
			  	.fb-btn {
			  		float: right;
			  		margin-right: 20px;
			  	}
			  }
		  	a:hover {
			  	text-decoration: none;
			  }
			  .index-login-start {
			    background: #1F8E1B;
				  width: 100%;
				  margin: 20px auto;
				  color: #fff;
				  height: 64px;
				  font-size: 22px;
				  text-align: center;
				  padding-top: 18px;
				  border-radius: 12px;
				  &:hover {
				  	background: #1D7D1A;
				  }
			  }
			  .main-banner {
			  	width: 100%;
			  	img {
			  		margin: 0 auto 10px auto;
					  display: block;
					  border-radius: 15px;
			  	}
			  }
			}

			// START of user login page
			.login-form {
				padding-top: 0px;
				margin-left: 0px;
				.field {
					margin-bottom: 15px;
				}
				input {
					text-align: center;
				  font-size: 17px;
				  width: 315px;
				  height: 35px;
				  background-image: url('http://www.fawstudio.com/family/pc_demo/images/loginUnit/inputBoxBG.png');
				  border-width: 0px;
				}
				.resend-pwd {
					background-image: none;
					height: 40px;
				}
				.btn-login {
					height: 41px;
				  border-radius: 10px;
				  width: 315px;
				  font-size: 20px;
				  background: #E48322;
				  margin-left: 69px;
				  color: #fff;
				  padding: 6px;
				  text-align: center;
				  display: block;
				  text-decoration: none;
				  &:hover {
				  	background: #ED9E4F;
				  }
				  &:active {
				  	background: #ED9E4F;
				  }
				}

				.btn-register {					
  				height: 41px;
				  border-radius: 10px;
				  width: 315px;
				  font-size: 20px;
				  background: #368C2C;
				  margin-left: 69px;
				  color: #fff;
				  padding: 6px;
				  text-align: center;
				  display: block;
				  text-decoration: none;
				  &:hover {
				  	background: #35BA25;
				  }
				  &:active {
				  	background: #35BA25;
				  }
				}

				.link-forget-pwd {
					color: rgba(55,145,45,1);
				  margin: 8px auto 0 195px;
				  font-size: 15px;
				  display: block;
				}

				.link-resend-confirm {
					color: rgba(55,145,45,1);
				  margin: -10px auto 0 191px;
				  font-size: 15px;
				  display: block;
				}
			}
			// END of user login page		

			
			// START of main page
			.main-left {
				float: left;
				border-radius: 15px;
			  border: 2px solid #17A712;
			  padding: 20px 0 20px 0;
			  width: 452px;
			  background: #fff;
			  box-shadow: 0px 3px 10px #DAD5D5;
			  
			  .puzzle-box {
				  position: relative;
				  width: 100px;
				  height: 100px;
				  display: inline-block;
				  left: 10px;
		  	}

			  .decorators {
			  	margin-bottom: 15px;
			  	.tag {
			  		margin-left: -10px;
			  	}
			  	.fb-btn {
			  		float: right;
			  		margin-right: 20px;
			  	}
			  }
			  .main-banner {
			  	width: 100%;
			  	img {
			  		margin: 0 auto 10px auto;
					  display: block;
					  border-radius: 15px;
			  	}
			  }

			  input {
			  	display: block;
			  	margin: 20px auto;
			  	text-align: center;
				  font-size: 17px;
				  width: 420px;
				  height: 47px;
				  background-image: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/016/original/inputBoxBG2.png?1435862301');
				  border-width: 0px;
			  }

			  .btn-draw-puzzle {
				  display: block;
				  margin: 0 auto;
			  	width: 421px;
			  	height: 79px;
			  	background-image: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/017/original/SendTicketBtn.png?1435862514');
			  }

			  // in records page 
			  .subtitle-seperator {
		  	  margin: 0 auto;
				  display: block;
				  margin-top: 20px;
			  }			  			 
			}

			.sub-left {
				position: absolute;
				top: 700px;
				border-radius: 15px;
			  border: 2px solid #17A712;
			  padding: 20px;
			  width: 452px;
			  background: #fff;
			  box-shadow: 0px 3px 10px #DAD5D5;

				h1 {
					font-size: 20px;
				  margin: 20px 0px 10px 0px;
				  padding: 0 0 0 20px;
				  background: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/018/original/deco.png?1435863154') 0 center no-repeat;
				}		
				ol {
					li {
						margin-bottom: 10px;
					}
				}
				.be-aware-text{
					font-size: 13px;
				}

				.sponsor_event {
					padding-left: 15px;
					padding-right: 15px;
					background-color: #177E0D;
					padding-top: 20px;
					padding-bottom: 20px;
					color: #FFFFFF;
				}
				.sponsor_title {
					background-image: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/031/original/btn-extra.png?1436079631');
					background-position: 1px 4px;
					background-repeat: no-repeat;
					padding-left: 25px;
				}
				A:link {color: #dc7e00}
				A:visited {color: #dc7e00}
				A:active {color: #dc7e00}
				A:hover {color: #FFFFFF}					

			}

			.main-right {
				border-radius: 15px;
			  border: 2px solid #17A712;
			  padding: 10px 10px 0 20px;
			  background: #fff;
			  box-shadow: 0px 3px 10px #DAD5D5;
				width: 460px;
				float: right;
				font-size: 15px;
				line-height: 1.4;
				margin-right: 25px;
				color: #555;

				h1 {
					font-size: 20px;
				  margin: 20px 0px 10px 0px;
				  padding: 0 0 0 20px;
				  background: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/018/original/deco.png?1435863154') 0 center no-repeat;
				}		
				ol {
					li {
						margin-bottom: 10px;
					}
				}
				.be-aware-text{
					font-size: 13px;
				}

				.sponsor_event {
					padding-left: 15px;
					padding-right: 15px;
					background-color: #177E0D;
					padding-top: 20px;
					padding-bottom: 20px;
					color: #FFFFFF;
				}
				.sponsor_title {
					background-image: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/031/original/btn-extra.png?1436079631');
					background-position: 1px 4px;
					background-repeat: no-repeat;
					padding-left: 25px;
				}
				A:link {color: #dc7e00}
				A:visited {color: #dc7e00}
				A:active {color: #dc7e00}
				A:hover {color: #FFFFFF}					

			}
			// END of end page

		}
	}


	.puzzle-box-row {
  	margin-top: 20px;
  	width: 100%;
  	height: 100px;
  }

  .puzzle-box {
	  position: relative;
	  width: 100px;
	  height: 100px;
	  display: inline-block;
	  left: -285px;  	
  	.piece {
  		width: 33px;
  		height: 33px;
  		object-fit: cover;
  	}
  	.puzzle-bg {
  		opacity: 0.1;
  		width: 100px;
	  	height: 100px;
	  	float: left;
	  	object-fit: cover;
	  	margin-left: 9px;				  	
  	}
  }  
  .puzzle-history-container {
  	margin-top: 20px;
	  .puzzle-history-title {
	  	background-image: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/026/original/No_bg_%281%29.png?1435905379');
	  	height: 48px;
		  margin: 20px 0px 0px 9px;
		  font-size: 20px;
		  font-family: arial;
		  line-height: 2.5em;
		  text-align: center;
		  background-repeat: no-repeat;
	  }
  }
  
  .btn-modal-register-comfirm {
	  width: 100%;
	  height: 50px;
	  background: #43C049;
	  color: #fff;
	  font-size: 20px;
  }

	.puzz1 {
	  top: 0px;
  	left: 0px;
  	margin-left: 9px;  	
  	position: absolute;  	
	}	
	.puzz2 {
		top: 0px;
	  left: 34px;
	  margin-left: 9px;  	
  	position: absolute;  	
	}

	.puzz3 {
		top: 0px;
	  left: 68px;
	  margin-left: 9px;  	
  	position: absolute;  	
	}

	.puzz4 {
		top: 34px;
	  left: 0px;
	  margin-left: 9px;  	
  	position: absolute;  	
	}

	.puzz5 {
		top: 34px;
	  left: 34px;
	  margin-left: 9px;  	
  	position: absolute;  	
	}

	.puzz6 {
		top: 34px;
	  left: 68px;
	  margin-left: 9px;  	
  	position: absolute;  	
	}

	.puzz7 {
		top: 68px;
	  left: 0px;
	  margin-left: 9px;  	
  	position: absolute;  	
	}

	.puzz8 {
		top: 68px;
	  left: 34px;
	  margin-left: 9px;  	
  	position: absolute;  	
	}

	.puzz9 {
		top: 68px;
	  left: 68px;
	  margin-left: 9px;  	
  	position: absolute;  	
	}

	.piece-count {
	  position: absolute;
	  padding: 9px 8px 10px 13px;
	  z-index: 10;
	  color: #FFF;
	  font-weight: bold;
	}

	// START of lucky page
	.lucky-container {
	  padding-top: 85px;
	  height: 600px;
	  background: #fff;
		box-shadow: -5px 4px 0px #D8DED7;
	  border-radius: 35px;

	  .congrats-title {
	  	font-size: 26px;
	  	color: rgb(52, 165, 52)
	  }
	  .remind-text {
			margin-top: 45px;
			line-height: 1.35;
		  color: #EC5503;
		  font-size: 13px;
		}
	}

	.lottery-number{
		margin-top: 20px;
	  width: 360px;
	  margin-left: 25px;
	  background-image: url("http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/028/original/urN.png?1435907124");
	  background-repeat: no-repeat;
	  height: 44px;
	  padding-left: 140px;
	  font-size: 19px;
	  font-family: arial;
	  line-height: 1.9em;
	  text-align: center;
	  color: green;
	}

	.get-luck-thistime {
		margin-left: 280px;
	}

	.action-row {
		margin-top: 30px;

		.btn-fami {
			display: inline-block;
		  background: #27953A;
		  font-size: 16px;
		  color: #fff;
		  padding: 13px;
		  width: 200px;
		}

		a.btn-fami-confirm {
			border-radius: 10px;		  
		  height: 45px;		  
		  box-shadow: 0px 4px 0px #677166;
		  &:hover {
		  	background: #17C535;
		  	text-decoration: none;
		  }
		}

		a.btn-fami-share {
			margin-left: 20px;
			border-radius: 10px;
		  height: 45px;
		  box-shadow: 0px 4px 0px #677166;	  
		  &:hover {
		  	background: #17C535;
		  	text-decoration: none;
		  }
		}	

		a.btn-fami-notify {
			margin-left: 20px;
			border-radius: 10px;
		  height: 45px;
		  box-shadow: 0px 4px 0px #677166;	  
		  &:hover {
		  	background: #17C535;
		  	text-decoration: none;
		  }
		}	
	}
	
	// END of lucky page
	.footer-outer {
		background: #fff;
	  padding: 20px 0px 2px 0px;
	  border-top: 3px solid #17A712;
	  border-bottom: 3px solid #17A712;
		.footer {
			width: 1000px;
	  	margin: 0 auto;
			.qrcode {
				display:none;
			}
			.qrcode_pc {
				float: right;
				margin-top: -113px;
			}
			.sponsor_event {
				padding-left: 15px;
				padding-right: 15px;
				background-color: #177E0D;
				padding-top: 20px;
				padding-bottom: 20px;
				color: #FFFFFF;
			}
			.sponsor_title {
				background-image: url(images/btn-extra.png);
				background-repeat: no-repeat;
				padding-left: 25px;
			}
			.footer_bg {
				background-image: url(images/footer-bg.png);
				text-align: center;
				color: #4D4D4D;
				font-size: 18px;
				margin-bottom: 0px;
				padding-bottom: 100px;
			}
			.footer_logo {
				background-repeat: no-repeat;
				background-clip: content-box;
				background-origin: padding-box;
				font-size: 15px;
				color: #4D4D4D;
			}
			.footer_info {
				color: #808080;
				font-size: 11px;
				line-height: 18px;
				text-align: left;	
			}

			a:link {color: #808080}
			a:visited {color: #808080}
			a:active {color: #808080}
			a:hover {color: #17a712}
		}
	}
}

/*MEDIA QUERY - for TABLET and CELL PHONE */					
@media screen and (min-device-width: 321px)  and (max-device-width: 480px) {		
	#return-to-top {
	  display: none !important;
	}

	body {												
		width: auto;
		.header-outer {
			width: 100%;
		}		
		.header {			
			position: relative;			
			width: 100%;
			margin-left: -35px;
			.logo {
				position: absolute; 
				top: -100px;				
			}
			.navs {
				float: left;
			  width: 110%;
			  margin-left: -4px;
			  background: #fff;		    
 			 	border-bottom: 3px solid #17A712;
		 	  line-height: 2.2;

				li {
					list-style: none;
				  display: block;
				  float: left;
				  padding: 10px;
				  border-width: 0px 0px 0px 1px;
				  border-style: solid;
				  border-color: #D6D5DC;				  
				  cursor: pointer;
				  font-size: 14px;
				  color: #17A712;
				}
				.text {
				 	margin-left: 2px;
				}			 
			}
		}

		.container {
			width: 100%;
			background-color: #efefef;		
			margin-bottom: 60px;			
			.container-inner {
				width: 100%;
				margin: 50px auto 100px auto;

				.corner {					
				  border: 2px solid #8AC007;
				  padding: 12px 0 0 0;
				  width: 98%;
				  height: 158px;
				  background: #fff;
				  .decorators {
				  	margin-bottom: 15px;
				  	.tag {
				  		margin-left: -10px;
				  	}
				  	.fb-btn {
				  		float: right;
				  		margin-right: 20px;
				  	}
				  }
				  a:hover {
				  	text-decoration: none;
				  }
				  .index-login-start {
				    background: #1F8E1B;
					  width: 100%;
					  margin: 20px auto;
					  color: #fff;
					  height: 64px;
					  font-size: 22px;
					  text-align: center;
					  padding-top: 18px;
					  border-radius: 12px;
					  &:hover {
					  	background: #1D7D1A;
					  }
				  }
				  .main-banner {
				  	
				  	img {
				  		margin: 0 4px 15px 4px;
				  		width: 96%;
						  display: block;
						  border-radius: 5px;
						  height: 75px;
				  	}
				  }

				  .index-login-btn {
				  	margin: 0px;
				  	width: 100%;
				  }

				}

				// START of user login page
				.login-form {
					padding-top: 0px;					
					.field {
						margin-bottom: 15px;
					}
					input {
						text-align: center;
					  font-size: 17px;					  
					  height: 35px;
					  background: url('http://www.fawstudio.com/family/pc_demo/images/loginUnit/inputBoxBG.png') no-repeat;
					  border-width: 0px;					  
					}
					.resend-pwd {
						background-image: none;
						height: 40px;
						background: #EC6262;
  					width: 211px;
					}
					.btn-login {
						height: 41px;
					  border-radius: 10px;
					  width: 98%;
					  font-size: 20px;
					  background: #E48322;
					  margin-left: 2px;
					  color: #fff;
					  padding: 6px;
					  text-align: center;
					  display: block;
					  text-decoration: none;
					  &:hover {
					  	background: #ED9E4F;
					  }
					  &:active {
					  	background: #ED9E4F;
					  }
					}

					.btn-register {					
	  				height: 41px;
					  border-radius: 10px;
					  width: 98%;
					  font-size: 20px;
					  background: #368C2C;
					  margin-left: 2px;
					  color: #fff;
					  padding: 6px;
					  text-align: center;
					  display: block;
					  text-decoration: none;
					  &:hover {
					  	background: #35BA25;
					  }
					  &:active {
					  	background: #35BA25;
					  }
					}

					.link-forget-pwd {
						color: rgba(55,145,45,1);
					  margin-top: 8px;
					  font-size: 15px;
					  display: block;
					  margin-left: 37%;
					}

					.link-resend-confirm {
						color: rgba(55,145,45,1);
					  margin-top: -8px;
					  margin-left: 36%;
					  font-size: 15px;
					  display: block;
					}
				}
				// END of user login page		

				
				// START of main page
				.main-left {
					float: left;
					border-radius: 15px;
				  border: 2px solid #17A712;
				  padding: 20px 0 20px 0;
				  width: 102%;
				  background: #fff;
				  box-shadow: 0px 3px 10px #DAD5D5;
				  
				  .puzzle-box {
					  position: relative;
					  width: 70px;
					  height: 70px;
					  display: inline-block;
					  left: 15px;
			  	}

				  .decorators {
				  	margin-bottom: 15px;
				  	.tag {
				  		margin-left: -10px;
				  	}
				  	.fb-btn {
				  		float: right;
				  		margin-right: 20px;
				  	}
				  }
				  .main-banner {
				  	width: 100%;
				  	img {
				  		width: 98%;
				  		margin: 0 auto 10px auto;
						  display: block;
						  border-radius: 15px;
				  	}
				  }

				  input {
				  	display: block;
				  	margin: 20px auto;
				  	text-align: center;
					  font-size: 17px;
					  width: 99%;
					  height: 47px;
					  background: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/016/original/inputBoxBG2.png?1435862301') no-repeat;
					  border-width: 0px;
					  background-size: 99% 47px;
				  }

				  .main-lottery-input {
				  	width: 98%;
					  background-size: 100% 47px;
					  background-repeat: no-repeat;
				  }
				  
				  .btn-draw-puzzle {
					  display: block;
					  margin: 0 auto;				  	
				  	height: 79px;
				  	width: 100%;
				  	background-image: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/017/original/SendTicketBtn.png?1435862514');
				  	background-size: 100% 79px;
  					background-repeat: no-repeat;
				  }

				  // in records page 
				  .subtitle-seperator {
				  	width: 100%;
			  	  margin: 0 auto;
					  display: block;
					  margin-top: 20px;
				  }			  			 
				}

				.main-right, .sub-left {
					border-radius: 15px;
				  border: 2px solid #17A712;
				  padding: 10px 10px 0 20px;
				  background: #fff;
				  box-shadow: 0px 3px 10px #DAD5D5;
					width: 102%;
					float: right;
					font-size: 20px;
					line-height: 1.4;
					margin-top: 30px;
  				margin-right: -6px;
					color: #555;

					h1 {
						font-size: 20px;
					  margin: 20px 0px 10px 0px;
					  padding: 0 0 0 20px;
					  background: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/018/original/deco.png?1435863154') 0 center no-repeat;
					}		
					ol {
						li {
							margin-bottom: 10px;
						}
					}
					.be-aware-text{
						font-size: 13px;
					}
					.sponsor_event {
						padding-left: 15px;
						padding-right: 15px;
						background-color: #177E0D;
						padding-top: 20px;
						padding-bottom: 20px;
						color: #FFFFFF;
					}
					.sponsor_title {
						background-image: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/031/original/btn-extra.png?1436079631');
						background-position: 1px 4px;
						background-repeat: no-repeat;
						padding-left: 25px;
					}						
					A:link {color: #dc7e00}
					A:visited {color: #dc7e00}
					A:active {color: #dc7e00}
					A:hover {color: #FFFFFF}	
				}
				// END of end page

			}
		}

		.puzzle-box-row {
	  	margin-top: 20px;
	  	width: 105%;
	  	height: 70px;
	  }

	  .puzzle-box {
		  position: relative;
		  width: 70px;
		  height: 70px;
		  display: inline-block;
		  left: -285px;  	
	  	.piece {
	  		width: 25px;
	  		height: 25px;
	  		object-fit: cover;
	  	}
	  	.puzzle-bg {
	  		opacity: 0.1;
	  		width: 70px;
		  	height: 70px;
		  	float: left;
		  	object-fit: cover;
		  	margin-left: 1px;				  	
	  	}
	  }  
	  .puzzle-history-container {
	  	margin-top: 20px;
		  .puzzle-history-title {
		  	background-image: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/026/original/No_bg_%281%29.png?1435905379');
		  	height: 48px;
			  margin: 20px 0px 0px 1px;
			  font-size: 18px;
			  font-family: arial;
			  line-height: 2.5em;
			  text-align: center;
			  background-repeat: no-repeat;
			  background-size: 100% 48px;
			  padding-top: 2px;
		  }
	  }

	  .btn-modal-register-comfirm {
		  width: 100%;
		  height: 50px;
		  background: #43C049;
		  color: #fff;
		  font-size: 20px;
	  }

	  .puzz1 {
		  top: 0px;
	  	left: 0px;
	  	margin-left: 1px;  	
	  	position: absolute;  	
		}	
		.puzz2 {
			top: 0px;
		  left: 23px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.puzz3 {
			top: 0px;
		  left: 46px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.puzz4 {
			top: 23px;
		  left: 0px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.puzz5 {
			top: 23px;
		  left: 23px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.puzz6 {
			top: 23px;
		  left: 46px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.puzz7 {
			top: 46px;
		  left: 0px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.puzz8 {
			top: 46px;
		  left: 23px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.puzz9 {
			top: 46px;
		  left: 46px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.piece-count {
		  position: absolute;
		  padding: 3px 0px 0px 8px;
		  z-index: 10;
		  color: #FFF;
		  font-weight: bold;
		}

		// START of lucky page
	.lucky-container {
	  padding-top: 45px;
	  height: 600px;
	  background: #fff;
		box-shadow: -5px 4px 0px #D8DED7;
	  border-radius: 35px;

	  .congrats-title {
	  	font-size: 26px;
	  	color: rgb(52, 165, 52)
	  }
	  .remind-text {
			margin-top: 45px;
			line-height: 1.35;
		  color: #EC5503;
		  font-size: 12px;
		  width: 95%;
		}
	}

	.lottery-number{
		margin-top: 20px;	 
	  margin-left: 25px;
	  background-image: url("http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/028/original/urN.png?1435907124");
	  background-size: 87% 35px;
	  background-repeat: no-repeat;
	  height: 44px;
	  padding-left: 90px;
	  padding-top: 6px;																																										
	  font-size: 13px;
	  font-family: arial;
	  line-height: 1.9em;
	  text-align: center;
	  color: green;
	}

	.get-luck-thistime {
		display: inline-flex;
		margin-left: 302px;
		.puzzle-box {
			left: -290px;																			
		}
	}

	.action-row {
		margin-top: 30px;
		display: inline-flex;

		.btn-fami {
			display: inline-block;
		  background: #27953A;
		  font-size: 15px;
		  color: #fff;
		  padding: 10px;
		  width: 130px;
		}

		a.btn-fami-confirm {
			border-radius: 10px;		  
		  height: 55px;		  
		  box-shadow: 0px 4px 0px #677166;
		  &:hover {
		  	background: #17C535;
		  	text-decoration: none;
		  }
		}

		a.btn-fami-share {
			margin-left: 20px;
			border-radius: 10px;
		  height: 55px;
		  box-shadow: 0px 4px 0px #677166;	  
		  &:hover {
		  	background: #17C535;
		  	text-decoration: none;
		  }
		}
		a.btn-fami-notify {
			margin-left: 20px;
			border-radius: 10px;
		  height: 45px;
		  box-shadow: 0px 4px 0px #677166;	  
		  &:hover {
		  	background: #17C535;
		  	text-decoration: none;
		  }
		}
	}
	
	// END of lucky page

	 .footer-outer {
			background: #fff;
		  padding: 20px 0px 2px 11%;
		  border-top: 3px solid #17A712;
		  border-bottom: 3px solid #17A712;
		  height: 250px;
			.footer {
				max-width: 320px;
		  	margin: 0 auto;
				.qrcode {
					margin: 15px 0 0 -3%;
					img {
						width: 261px;
					}					
				}
				.qrcode_pc {
					display:none;
				}
				.sponsor_event {
					padding-left: 15px;
					padding-right: 15px;
					background-color: #177E0D;
					padding-top: 20px;
					padding-bottom: 20px;
					color: #FFFFFF;
				}
				.sponsor_title {
					background-image: url(images/btn-extra.png);
					background-repeat: no-repeat;
					padding-left: 25px;
				}
				.footer_bg {
					background-image: url(images/footer-bg.png);
					text-align: center;
					color: #4D4D4D;
					font-size: 18px;
					margin-bottom: 0px;
					padding-bottom: 100px;
				}
				.footer_logo {
					background-repeat: no-repeat;
					background-clip: content-box;
					background-origin: padding-box;
					font-size: 15px;
					color: #4D4D4D;
				}
				.footer_info {
					color: #808080;
					font-size: 11px;
					line-height: 18px;
					text-align: left;	
				}

				a:link {color: #808080}
				a:visited {color: #808080}
				a:active {color: #808080}
				a:hover {color: #17a712}
			}
		}
	

	}
}



/*MEDIA QUERY - smallest */					
@media screen and (max-device-width: 321px) {		
	body {												
		width: auto;
		.header-outer {
			width: 100%;
		}		
		.header {			
			position: relative;			
			width: 100%;
			margin-left: -35px;
			.logo {
				position: absolute; 
				top: -100px;				
			}
			.navs {
				float: left;
			  width: 110%;
			  margin-left: -4px;
			  background: #fff;		    
 			 	border-bottom: 3px solid #17A712;
 			 	line-height: 2.8;

				li {
					list-style: none;
				  display: block;
				  float: left;
				  padding: 4px;
				  border-width: 0px 0px 0px 1px;
				  border-style: solid;
				  border-color: #D6D5DC;				  
				  cursor: pointer;
				  font-size: 14px;
				  color: #17A712;
				}
				.text {
				 	margin-left: 2px;
				}			 
			}
		}

		.container {
			width: 100%;
			background-color: #efefef;		
			margin-bottom: 60px;
			padding-left: 8px;
  		padding-right: 8px;
			.container-inner {
				width: 100%;
				margin: 50px auto 100px auto;

				.corner {					
				  border: 2px solid #8AC007;
				  padding: 12px 0 0 0;
				  width: 98%;
				  height: 158px;
				  background: #fff;
				  .decorators {
				  	margin-bottom: 15px;
				  	.tag {
				  		margin-left: -10px;
				  	}
				  	.fb-btn {
				  		float: right;
				  		margin-right: 20px;
				  	}
				  }
				  a:hover {
				  	text-decoration: none;
				  }
				  .index-login-start {
				    background: #1F8E1B;
					  width: 100%;
					  margin: 20px auto;
					  color: #fff;
					  height: 64px;
					  font-size: 22px;
					  text-align: center;
					  padding-top: 18px;
					  border-radius: 12px;
					  &:hover {
					  	background: #1D7D1A;
					  }
				  }
				  .main-banner {
				  	
				  	img {
				  		margin: 0 4px 15px 4px;
				  		width: 96%;
						  display: block;
						  border-radius: 5px;
						  height: 75px;
				  	}
				  }

				  .index-login-btn {
				  	margin: 0px;
				  	width: 100%;
				  }

				}

				// START of user login page
				.login-form {
					padding-top: 0px;					
					.field {
						margin-bottom: 15px;
					}
					input {
						text-align: center;
					  font-size: 17px;					  
					  height: 35px;
					  background: url('http://www.fawstudio.com/family/pc_demo/images/loginUnit/inputBoxBG.png') no-repeat;
					  border-width: 0px;					  
					}
					.resend-pwd {
						background-image: none;
						height: 40px;
						background: #EC6262;
  					width: 211px;
					}
					.btn-login {
						height: 41px;
					  border-radius: 10px;
					  width: 98%;
					  font-size: 20px;
					  background: #E48322;
					  margin-left: 2px;
					  color: #fff;
					  padding: 6px;
					  text-align: center;
					  display: block;
					  text-decoration: none;
					  &:hover {
					  	background: #ED9E4F;
					  }
					  &:active {
					  	background: #ED9E4F;
					  }
					}

					.btn-register {					
	  				height: 41px;
					  border-radius: 10px;
					  width: 98%;
					  font-size: 20px;
					  background: #368C2C;
					  margin-left: 2px;
					  color: #fff;
					  padding: 6px;
					  text-align: center;
					  display: block;
					  text-decoration: none;
					  &:hover {
					  	background: #35BA25;
					  }
					  &:active {
					  	background: #35BA25;
					  }
					}

					.link-forget-pwd {
						color: rgba(55,145,45,1);
					  margin-top: 8px;
					  font-size: 15px;
					  display: block;
					  margin-left: 37%;
					}

					.link-resend-confirm {
						color: rgba(55,145,45,1);
					 	margin-top: -8px;
					  margin-left: 36%;
					  font-size: 15px;
					  display: block;
					}
				}
				// END of user login page		

				
				// START of main page
				.main-left {
					float: left;
					border-radius: 15px;
				  border: 2px solid #17A712;
				  padding: 20px 0 20px 0;
				  width: 102%;
				  background: #fff;
				  box-shadow: 0px 3px 10px #DAD5D5;
				  
				  .puzzle-box {
					  position: relative;
					  width: 70px;
					  height: 70px;
					  display: inline-block;
					  left: 15px;
			  	}

				  .decorators {
				  	margin-bottom: 15px;
				  	.tag {
				  		margin-left: -10px;
				  	}
				  	.fb-btn {
				  		float: right;
				  		margin-right: 20px;
				  	}
				  }
				  .main-banner {
				  	width: 100%;
				  	img {
				  		width: 98%;
				  		margin: 0 auto 10px auto;
						  display: block;
						  border-radius: 15px;
				  	}
				  }

				  input {
				  	display: block;
				  	margin: 20px auto;
				  	text-align: center;
					  font-size: 17px;
					  width: 99%;
					  height: 47px;
					  background: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/016/original/inputBoxBG2.png?1435862301') no-repeat;
					  border-width: 0px;
					  background-size: 99% 47px;
				  }

				  .main-lottery-input {
				  	width: 98%;
					  background-size: 100% 47px;
					  background-repeat: no-repeat;
				  }
				  
				  .btn-draw-puzzle {
					  display: block;
					  margin: 0 auto;				  	
				  	height: 79px;
				  	width: 100%;
				  	background-image: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/017/original/SendTicketBtn.png?1435862514');
				  	background-size: 100% 79px;
  					background-repeat: no-repeat;
				  }

				  // in records page 
				  .subtitle-seperator {
				  	width: 100%;
			  	  margin: 0 auto;
					  display: block;
					  margin-top: 20px;
				  }			  			 
				}

				.main-right, .sub-left {
					border-radius: 15px;
				  border: 2px solid #17A712;
				  padding: 10px 10px 0 20px;
				  background: #fff;
				  box-shadow: 0px 3px 10px #DAD5D5;
					width: 102%;
					float: right;
					font-size: 20px;
					line-height: 1.4;
					margin-top: 30px;
  				margin-right: -6px;
					color: #555;

					h1 {
						font-size: 20px;
					  margin: 20px 0px 10px 0px;
					  padding: 0 0 0 20px;
					  background: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/018/original/deco.png?1435863154') 0 center no-repeat;
					}		
					ol {
						li {
							margin-bottom: 10px;
						}
					}
					.be-aware-text{
						font-size: 13px;
					}
					.sponsor_event {
						padding-left: 15px;
						padding-right: 15px;
						background-color: #177E0D;
						padding-top: 20px;
						padding-bottom: 20px;
						color: #FFFFFF;
					}
					.sponsor_title {
						background-image: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/031/original/btn-extra.png?1436079631');
						background-position: 1px 4px;
						background-repeat: no-repeat;
						padding-left: 25px;
					}				
							
					A:link {color: #dc7e00}
					A:visited {color: #dc7e00}
					A:active {color: #dc7e00}
					A:hover {color: #FFFFFF}	
				}
				// END of end page

			}
		}

		.puzzle-box-row {
	  	margin-top: 20px;
	  	width: 105%;
	  	height: 70px;
	  }

	  .puzzle-box {
		  position: relative;
		  width: 70px;
		  height: 70px;
		  display: inline-block;
		  left: -285px;  	
	  	.piece {
	  		width: 25px;
	  		height: 25px;
	  		object-fit: cover;
	  	}
	  	.puzzle-bg {
	  		opacity: 0.1;
	  		width: 70px;
		  	height: 70px;
		  	float: left;
		  	object-fit: cover;
		  	margin-left: 1px;				  	
	  	}
	  }  
	  .puzzle-history-container {
	  	margin-top: 20px;
		  .puzzle-history-title {
		  	background-image: url('http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/026/original/No_bg_%281%29.png?1435905379');
		  	height: 48px;
			  margin: 20px 0px 0px 1px;
			  font-size: 18px;
			  font-family: arial;
			  line-height: 2.5em;
			  text-align: center;
			  background-repeat: no-repeat;
			  background-size: 100% 48px;
			  padding-top: 2px;
		  }
	  }

	  .btn-modal-register-comfirm {
		  width: 100%;
		  height: 50px;
		  background: #43C049;
		  color: #fff;
		  font-size: 20px;
	  }

	  .puzz1 {
		  top: 0px;
	  	left: 0px;
	  	margin-left: 1px;  	
	  	position: absolute;  	
		}	
		.puzz2 {
			top: 0px;
		  left: 23px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.puzz3 {
			top: 0px;
		  left: 46px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.puzz4 {
			top: 23px;
		  left: 0px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.puzz5 {
			top: 23px;
		  left: 23px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.puzz6 {
			top: 23px;
		  left: 46px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.puzz7 {
			top: 46px;
		  left: 0px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.puzz8 {
			top: 46px;
		  left: 23px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.puzz9 {
			top: 46px;
		  left: 46px;
		  margin-left: 1px;  	
	  	position: absolute;  	
		}

		.piece-count {
		  position: absolute;
		  padding: 3px 0px 0px 8px;
		  z-index: 10;
		  color: #FFF;
		  font-weight: bold;
		}

		// START of lucky page
	.lucky-container {
	  padding-top: 45px;
	  height: 600px;
	  background: #fff;
		box-shadow: -5px 4px 0px #D8DED7;
	  border-radius: 35px;

	  .congrats-title {
	  	font-size: 26px;
	  	color: rgb(52, 165, 52)
	  }
	  .remind-text {
			margin-top: 45px;
			line-height: 1.35;
		  color: #EC5503;
		  font-size: 12px;
		  width: 95%;
		}
	}

	.lottery-number{
		margin-top: 20px;	 
	  margin-left: 25px;
	  background-image: url("http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/028/original/urN.png?1435907124");
	  background-size: 87% 35px;
	  background-repeat: no-repeat;
	  height: 44px;
	  padding-left: 90px;
	  padding-top: 6px;																																										
	  font-size: 13px;
	  font-family: arial;
	  line-height: 1.9em;
	  text-align: center;
	  color: green;
	}

	.get-luck-thistime {
		display: inline-flex;
		margin-left: 102%;
		.puzzle-box {
			left: -290px;
		}
	}

	.action-row {
		margin-top: 30px;
		display: inline-flex;

		.btn-fami {
			display: inline-block;
		  background: #27953A;
		  font-size: 15px;
		  color: #fff;
		  padding: 10px;
		  width: 110px;
		}

		a.btn-fami-confirm {
			border-radius: 10px;		  
		  height: 55px;		  
		  box-shadow: 0px 4px 0px #677166;
		  &:hover {
		  	background: #17C535;
		  	text-decoration: none;
		  }
		}

		a.btn-fami-share {
			margin-left: 10px;
			border-radius: 10px;
		  height: 55px;
		  box-shadow: 0px 4px 0px #677166;	  
		  &:hover {
		  	background: #17C535;
		  	text-decoration: none;
		  }
		}		
		a.btn-fami-notify {
			margin-left: 10px;
			border-radius: 10px;
		  height: 55px;
		  box-shadow: 0px 4px 0px #677166;	  
		  &:hover {
		  	background: #17C535;
		  	text-decoration: none;
		  }
		}		
	}
	
	// END of lucky page

	 .footer-outer {
			background: #fff;
		  padding: 20px 0px 2px 11%;
		  border-top: 3px solid #17A712;
		  border-bottom: 3px solid #17A712;
		  height: 250px;
			.footer {
				max-width: 320px;
		  	margin: 0 auto;
				.qrcode {
					margin: 15px 0 0 -3%;
					img {
						width: 261px;
					}
				}
				.qrcode_pc {
					display:none;
				}
				.sponsor_event {
					padding-left: 15px;
					padding-right: 15px;
					background-color: #177E0D;
					padding-top: 20px;
					padding-bottom: 20px;
					color: #FFFFFF;
				}
				.sponsor_title {
					background-image: url(images/btn-extra.png);
					background-repeat: no-repeat;
					padding-left: 25px;
				}
				.footer_bg {
					background-image: url(images/footer-bg.png);
					text-align: center;
					color: #4D4D4D;
					font-size: 18px;
					margin-bottom: 0px;
					padding-bottom: 100px;
				}
				.footer_logo {
					background-repeat: no-repeat;
					background-clip: content-box;
					background-origin: padding-box;
					font-size: 15px;
					color: #4D4D4D;
				}
				.footer_info {
					color: #808080;
					font-size: 11px;
					line-height: 18px;
					text-align: left;	
				}

				a:link {color: #808080}
				a:visited {color: #808080}
				a:active {color: #808080}
				a:hover {color: #17a712}
			}
		}
	}
	#return-to-top {
	  display: none !important;
	}
}