<p>歡迎， <%= @email %>！</p>

<p>快來點選此連結驗證帳號：</p>

<p><%= link_to '註冊驗證', confirmation_url(@resource, :confirmation_token => @token) %></p>

<br>
<div>
	<img height="120px" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/068/original/screenshot.png?1436208772">
</div>