<p>嗨， <%= @resource.email %>!</p>

<p>您可以點選此連結修改密碼</p>

<p><%= link_to '修改密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<br>
<div>
	<img height="120px" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/068/original/screenshot.png?1436208772">
</div>

<!--
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
-->