<div class="footer-outer">
	<div class="footer">
	<p><img src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/067/original/footer_familogo.png?1436207214" width="70" height="21" align="center" valign="center"/><span class="footer_logo">全家便利商店股份有限公司</span>
	</p>
	<p class="footer_info"><span class="footer_info"><img src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/066/original/icon-add.png?1436207185" width="11" height="10" alt=""/>104 台北市中山區中山北路二段61號7F</span><br>
	<span class="footer_info"><img src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/065/original/icon-tel.png?1436207176" width="10" height="10" alt=""/>TEL. 02-25239588</span> <span class="footer_info"><img src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/064/original/icon-service.png?1436207166" width="10" height="10" alt=""/>客服專線 0800-221-363 </span></p>
	<p class="footer_info"><span class="footer_info"> copyright(c)2015 FamilyMart All rights reserved.</span></p>
	  <div class="qrcode">
	  	<a target="_blank" href="http://210.64.125.181/app/app_tranpage.php"><img height="103px" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/111/original/footer_mobi-qrcode.png?1436432804"></a>
	  </div>
	  <div class="qrcode_pc">
	  	<a target="_blank" href="http://210.64.125.181/app/app_tranpage.php"><img height="103px" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/112/original/footer-qrcode.png?1436432815"></a>
	  </div>
	</div>
</div>