<div class="header-outer">
	<div class="header">
		<div class="logo"><img  src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/006/original/logo.png?1435848718"></div>
		<div class="navs">
			<ul>
				
				
				<a href="<%= event0708_path %>"><li class="<%= @index %>"><i class="fa fa-home"></i><span class="text">首頁</span></li></a>
				

				<a href="<%= event0708_records_path %>"><li class="<%= @records %>"><i class="fa fa-pencil-square-o"></i><span class="text">活動辦法及登錄</span></li></a>

				<a href="<%= event0708_extra_path %>"><li class="<%= @extra %>"><i class="fa fa-gift"></i><span class="text">加碼好康</span></li></a>

				<% if current_user %>
					<%= link_to  destroy_user_session_path, :method => :delete do %>
						<li><i class="fa fa-sign-out"></i><span class="text">登出</span></li>
					<% end %>
				<% end %>

			</ul>	
		</div>
	</div>
</div>