<!DOCTYPE html>
<html>
<head>
  <title>全家瘋點卡 10萬好禮拼一夏</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'family', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>全家瘋點卡 10萬好禮拼一夏</title>
  <!--fbMata-->
  <meta property="og:title" content="全家瘋點卡 10萬好禮拼一夏" />
  <meta property="og:description" content="哇~我在全家買點卡集拼圖抽超大獎!分享給你一起拼一夏拿好禮!" />
  <meta property="og:image" content="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/120/original/facebook_share-0715.jpg?1437192175" />
  <meta property="og:url" content="http://event.familynet.com.tw/event0708" />
  <meta property="og:content" content="website" />
  <meta property="og:type" content="website" />
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64809115-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<%= render 'facebook_sdk'%>

<%= render 'header' %>

<div class="container">
	<%= yield %>
</div>

<%= render 'footer' %>

<!-- Return to Top -->
<img id="return-to-top" src="http://famiport-project.s3.amazonaws.com/imageassets/assets/000/000/113/original/btn-top.png?1436433511">
<%= render 'return_to_top_js' %>

<script>
$(document).ready(function() {
  $('.fb-btn').click(function() {
    FB.ui({
      method: 'share',
      href: 'http://event.familynet.com.tw/event0708',
    }, function(response){});
  });

  $('.btn-fami-share').click(function() {
    FB.ui({
      method: 'share',
      href: 'http://event.familynet.com.tw/event0708',
    }, function(response){});
  });
});
</script>
</body>
</html>
